body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #0b1e17;
  flex-direction: column;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
.spotify-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-canvas canvas {
  height: auto !important;
  width: 90vw;
  aspect-ratio: 6 / 12;
}

button {
  display: none;
}
