body { margin: 0; display: flex; justify-content: start; height: 100vh; width: 100vw; align-items: center; background-color: #0b1e17; flex-direction: column; }
canvas { width: 100vw; height: 100vh; display: block; }
.spotify-canvas {
    height: 1200px;
    width: 675px;
    display: flex; justify-content: center; align-items: center;
}

.spotify-canvas canvas {
    height: clamp(200px, 1200px, 90vh);
    width: 100vw;
}

button {
    display: none;
}