@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #111;
  --background-alt: #222;
  --text-color: #ddd;
  --spacing: 16px;
  --logo: #999;
  --radius: calc(var(--spacing) / 2);
  --spotify: #1db954;
  --apple-music: #fc3c44;
  --tidal: #fff;
  --youtube: #ff0000;
  --instagram: #c13584;
}

body,
html {
  background-color: var(--background);
  margin: 0;
  color: var(--text-color);
  font-family: Jura, sans-serif;
  overflow-x: hidden;
  scrollbar-color: var(--background-alt) var(--background);
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

header {
  padding: var(--spacing);
  display: flex;
  justify-content: center;
}

header svg {
  width: 100%;
  max-width: 512px;
}

header svg path {
  color: var(--logo);
  stroke-color: currentColor !important;
}

section {
  display: flex;
  gap: var(--spacing);
  margin: var(--spacing) 0 0;
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  padding: var(--spacing);
}

section article {
  min-width: 70vw;
  scroll-snap-align: center;
  display: flex;
  gap: var(--spacing);
  flex-direction: column;
  background-color: var(--background-alt);
  border-radius: var(--radius);
  padding-bottom: calc(var(--spacing) * 2);
}

@media screen and (min-width: 720px) {
  section article {
    min-width: 640px !important;
  }
}

section article img {
  width: 100%;
  border-radius: var(--radius);
  aspect-ratio: 1;
  overflow: hidden;
  border: 1px solid var(--logo);
  box-sizing: border-box;
  box-shadow: 0px 0px 2px var(--logo);
}

footer {
  margin-top: var(--spacing);
  padding: var(--spacing);
}

nav {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 720px) {
  nav {
    flex-direction: row;
    gap: calc(var(--spacing) * 2);
  }
}

a {
  --color: var(--logo);
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: var(--text-color);
}

a:before {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 1px;
  background-color: var(--color);
  transition: all 0.25s;
}

a:hover:before {
  width: 100%;
}

a[href*="spotify"] {
  --color: var(--spotify);
}

a[href*="youtube"] {
  --color: var(--youtube);
}

a[href*="apple"] {
  --color: var(--apple-music);
}

a[href*="tidal"] {
  --color: var(--tidal);
}

a[href*="instagram"] {
  --color: var(--instagram);
}
